.App {
  text-align: center;
}

.App-header {
  background-image: url("/public/1765802.jpg");
  background-size: cover;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  color: goldenrod;
}

button {
  color: #016f32;
  width: 150px;
  height: 100;
  background-color: goldenrod;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: large;
  border: none;
  border-radius: 4px;
  margin-bottom: 2px;
  margin-top: 2px;
}

#message-el {
  font-style: italic;
}

