body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: url("/public/1765802.jpg");
  background-size: cover;
  font-weight: bold;
  background: rgb(130,255,213);
  background: linear-gradient(239deg, rgba(130,255,213,1) 0%, rgba(9,178,24,1) 50%, rgba(172,255,89,1) 100%); 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
